body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Roboto, sans-serif;
    background: #2d353c;
    color: #ccc;
  }

  ::-webkit-file-upload-button {
    background: black;
    color: #fff;
    padding: 1em;
    border-radius: 8px;
  }


.wrapper {
    background-color: #fff;
    place-items: center;
    font-family: "Muli", sans-serif;
    font-size: 1rem;
    color: #334043;
    border-radius: 1.5em;
    padding: 1em 2em 2em 2em;
    max-width: 12000px;
    height: 50vh;
    text-align: center;
  }
  .wrapper .upload-wrapper {
    display: inline-block;
    margin: 20rem auto 0;
  }

  
   
